DATABASE__DSN="postgresql://person_user:person_password@database_mkk:5432/person"
DATABASE__ENGINE_POOL_SIZE=20
DATABASE__ENGINE_MAX_OVERFLOW=0
DATABASE__ENGINE_POOL_PING=False
DATABASE__ENGINE_POOL_TIMEOUT=30

SERVER__PORT=8000
SERVER__WORKERS=1
SERVER__RELOAD=True

BROKER__DSN="amqp://qwerty:qwerty@rabbitmq_mkk:5672/"

POSTGRES_USER=person_user
POSTGRES_DB=person
POSTGRES_PASSWORD=person_password

RABBIT_USER=qwerty
RABBIT_PASSWORD=qwerty
